@using System;
@using Sandbox;
@using Sandbox.UI;
@using Facepunch.Forsaken;

@namespace Facepunch.Forsaken.UI
@attribute [StyleSheet( "/ui/Hud.scss" )]
@inherits RootPanel

<root>
    <Storage></Storage>
    <Backpack></Backpack>

    <div class="bottom">
        <Hotbar></Hotbar>
    </div>

    <div class="center">
         <StructureSelector/>
    </div>
</root>
