@import "BaseRadialMenu.scss";

.radial-menu {
    .center {
        .info {
            .name {
                font-family: Vollkorn;
            }

            .description {
                font-family: Vollkorn;
            }

            .subtitle {
                font-family: Vollkorn;
            }
        }
    }
}
