@using System;
@using Sandbox;
@using Sandbox.UI;
@using Facepunch.Forsaken;

@namespace Facepunch.Forsaken.UI
@attribute [StyleSheet( "/ui/inputhints/InputHints.scss" )]
@inherits Panel

<root>
    <div class="container">
        @if ( HasPrimaryAttack() )
        {
            <InputHint Button=@InputButton.PrimaryAttack>@GetPrimaryAttackText()</InputHint>
        }

        <InputHint Button=@InputButton.Menu>Crafting</InputHint>
        <InputHint Button=@InputButton.Score>Inventory</InputHint>
        <InputHint Button=@InputButton.Use>@GetUseText()</InputHint>
    </div>
</root>

@code
{
    protected override int BuildHash()
    {
        var player = ForsakenPlayer.Me;
        if ( !player.IsValid() ) return 0;

        return HashCode.Combine( player, player.ActiveChild, player.HotbarIndex, player.LifeState, HasPrimaryAttack(), Cursor.Current.HasMoreOptions );
    }

    private string GetPrimaryAttackText()
    {
        if ( !ForsakenPlayer.Me.IsValid() )
            return string.Empty;

        var hotbarItem = ForsakenPlayer.Me.GetActiveHotbarItem();
        return hotbarItem?.UseText ?? string.Empty;
    }

    private bool HasPrimaryAttack()
    {
        if (!ForsakenPlayer.Me.IsValid())
            return false;

        var hotbarItem = ForsakenPlayer.Me.GetActiveHotbarItem();
        return !string.IsNullOrEmpty( hotbarItem?.UseText ?? string.Empty );
    }

    private string GetUseText()
    {
        if ( !ForsakenPlayer.Me.IsValid() )
            return string.Empty;

        if ( Cursor.Current.HasMoreOptions )
            return "(Hold) More Options";
        else
            return "Interact";
    }
}
