@using System;
@using Sandbox;
@using Sandbox.UI;
@using Facepunch.Forsaken;
@using Conna.Inventory;

@namespace Facepunch.Forsaken.UI
@attribute [StyleSheet( "/ui/inputhints/InputHints.scss" )]
@inherits Panel

<root>
    <div class="container">
        @if ( HasPrimaryAttack() )
        {
            <InputHint Button="attack1">@GetPrimaryAttackText()</InputHint>
        }

        @if ( HasSecondaryAttack() )
        {
            <InputHint Button="attack2">@GetSecondaryAttackText()</InputHint>
        }

        <InputHint Button="menu">Open Crafting</InputHint>
        <InputHint Button="score">Open Inventory</InputHint>
        <InputHint Button="map">Open Map</InputHint>
        <InputHint Button="use">@GetUseText()</InputHint>
    </div>
</root>

@code
{
    protected override int BuildHash()
    {
        var player = ForsakenPlayer.Me;
        if ( !player.IsValid() ) return 0;

        return HashCode.Combine(
            player,
            player.ActiveChild,
            player.HotbarIndex,
            player.LifeState,
            HasPrimaryAttack(),
            GetPrimaryAttackText(),
            GetSecondaryAttackText(),
            Cursor.Current.HasMoreOptions
        );
    }

    private string GetPrimaryAttackText()
    {
        if ( !ForsakenPlayer.Me.IsValid() )
            return string.Empty;

        var hotbarItem = ForsakenPlayer.Me.GetActiveHotbarItem() as InventoryItem;
        return hotbarItem?.PrimaryUseHint ?? string.Empty;
    }

    private string GetSecondaryAttackText()
    {
        if ( !ForsakenPlayer.Me.IsValid() )
            return string.Empty;

        var hotbarItem = ForsakenPlayer.Me.GetActiveHotbarItem() as InventoryItem;
        return hotbarItem?.SecondaryUseHint ?? string.Empty;
    }

    private bool HasSecondaryAttack()
    {
        if ( !ForsakenPlayer.Me.IsValid() )
            return false;

        var hotbarItem = ForsakenPlayer.Me.GetActiveHotbarItem() as InventoryItem;
        return !string.IsNullOrEmpty( hotbarItem?.SecondaryUseHint ?? string.Empty );
    }

    private bool HasPrimaryAttack()
    {
        if (!ForsakenPlayer.Me.IsValid())
            return false;

        var hotbarItem = ForsakenPlayer.Me.GetActiveHotbarItem() as InventoryItem;
        return !string.IsNullOrEmpty( hotbarItem?.PrimaryUseHint ?? string.Empty );
    }

    private string GetUseText()
    {
        if ( !ForsakenPlayer.Me.IsValid() )
            return string.Empty;

        if ( Cursor.Current.HasMoreOptions )
            return "(Hold) Options";
        else
            return "Interact";
    }
}
