@using System;
@using Sandbox;
@using Sandbox.UI;
@using Facepunch.Forsaken;

@namespace Facepunch.Forsaken.UI
@attribute [StyleSheet( "/ui/inventory/Backpack.scss" )]
@inherits Panel
@implements IDialog
@implements IDroppable

@if ( !ForsakenPlayer.Me.IsValid() ) return;

@{
    var equipment = ForsakenPlayer.Me.Equipment;
    if (!equipment.IsValid()) return;

    var backpack = ForsakenPlayer.Me.Backpack;
    if ( !backpack.IsValid() ) return;

    var hotbar = ForsakenPlayer.Me.Hotbar;
    if ( !hotbar.IsValid() ) return;
}

<root>
    <div class="body-container">
        <div class="equipment">
            <label class="title">Equipment</label>

            <div class="slots">
                <InventorySlot
                    OnSelected=@OnEquipmentSlotSelected
                    DefaultIcon="textures/ui/armor_slot_head.png"
                    Container=@equipment
                    Slot=@((ushort)0)
                    Item=@equipment.GetFromSlot( 0 )>
                </InventorySlot>

                <InventorySlot
                    OnSelected=@OnEquipmentSlotSelected
                    DefaultIcon="textures/ui/armor_slot_chest.png"
                    Container=@equipment
                    Slot=@((ushort)1)
                    Item=@equipment.GetFromSlot( 1 )>
                </InventorySlot>

                <InventorySlot
                    OnSelected=@OnEquipmentSlotSelected
                    DefaultIcon="textures/ui/armor_slot_legs.png"
                    Container=@equipment
                    Slot=@((ushort)2)
                    Item=@equipment.GetFromSlot( 2 )>
                </InventorySlot>
            </div>
        </div>

        <div class="backpack">
            <label class="title">Backpack</label>

            <div class="slots">
                @for ( ushort i = 0; i < backpack.SlotLimit; i++ )
                {
                    var item = backpack.GetFromSlot( i );
                    <InventorySlot OnSelected=@OnBackpackSlotSelected Container=@backpack Slot=@i Item=@item></InventorySlot>
                }
            </div>
        </div>
    </div>

    <div class="hotbar">
        <label class="title">Hotbar</label>

        <div class="slots">
            @for ( ushort i = 0; i < hotbar.SlotLimit; i++ )
            {
                var item = hotbar.GetFromSlot(i);
                <InventorySlot OnSelected=@OnHotbarSlotSelected Container=@hotbar Slot=@i Item=@item></InventorySlot>
            }
        </div>
    </div>
</root>

@code
{
    public static Backpack Current { get; private set; }

    public bool IsOpen { get; set; }

    public Backpack()
    {
        BindClass( "hidden", () => !IsOpen );
        Current = this;
    }

    public void Open()
    {
        if ( IsOpen ) return;
        Dialog.Activate( this );
        IsOpen = true;
    }

    public void Close()
    {
        if ( !IsOpen ) return;
        Dialog.Deactivate( this );
        IsOpen = false;
    }

    public virtual bool CanDrop( IDraggable draggable, DraggableMode mode )
    {
        return true;
    }

    public virtual void OnDrop( IDraggable draggable, DraggableMode mode )
    {
        if ( draggable is InventorySlot slot )
        {
            ForsakenPlayer.ThrowItem( slot.Item, Screen.GetDirection( Mouse.Position ) );
        }
    }

    protected virtual void OnBackpackSlotSelected( InventorySlot slot )
    {
        Sound.FromScreen( "inventory.select" );
    }

    protected virtual void OnEquipmentSlotSelected( InventorySlot slot )
    {
        Sound.FromScreen( "inventory.select" );
    }

    protected virtual void OnHotbarSlotSelected( InventorySlot slot )
    {
        Sound.FromScreen( "inventory.select" );
    }

    protected override int BuildHash()
    {
        var equipment = ForsakenPlayer.Me?.Equipment;
        var backpack = ForsakenPlayer.Me?.Backpack;
        var hotbar = ForsakenPlayer.Me?.Hotbar;

        return HashCode.Combine( ForsakenPlayer.Me, equipment, backpack, hotbar );
    }
}
