Hotbar {
    position: absolute;
    bottom: 32px;
    display: flex;
    flex-direction: row;

    InventorySlot {
        margin-right: 16px;

        &:last-child {
            margin-right: 0px;
        }
    }

    &.hidden {
        display: none;
    }
}
